<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsoft.jcomic" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".EpisodeListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:host="www.cartoonmad.com"> </data>
                <data android:scheme="http"></data>
                <data android:pathPattern="/m/comic/.*"></data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:host="m.dm5.com"> </data>
                <data android:scheme="http"></data>
                <data android:pathPattern="/manhua-a.*/"></data>
                <data android:pathPattern="/manhua-b.*/"></data>
                <data android:pathPattern="/manhua-c.*/"></data>
                <data android:pathPattern="/manhua-d.*/"></data>
                <data android:pathPattern="/manhua-e.*/"></data>
                <data android:pathPattern="/manhua-f.*/"></data>
                <data android:pathPattern="/manhua-g.*/"></data>
                <data android:pathPattern="/manhua-h.*/"></data>
                <data android:pathPattern="/manhua-i.*/"></data>
                <data android:pathPattern="/manhua-j.*/"></data>
                <data android:pathPattern="/manhua-k.*/"></data>
                <data android:pathPattern="/manhua-m.*/"></data>
                <data android:pathPattern="/manhua-n.*/"></data>
                <data android:pathPattern="/manhua-o.*/"></data>
                <data android:pathPattern="/manhua-p.*/"></data>
                <data android:pathPattern="/manhua-q.*/"></data>
                <data android:pathPattern="/manhua-r.*/"></data>
                <data android:pathPattern="/manhua-s.*/"></data>
                <data android:pathPattern="/manhua-t.*/"></data>
                <data android:pathPattern="/manhua-u.*/"></data>
                <data android:pathPattern="/manhua-v.*/"></data>
                <data android:pathPattern="/manhua-w.*/"></data>
                <data android:pathPattern="/manhua-x.*/"></data>
                <data android:pathPattern="/manhua-y.*/"></data>
                <data android:pathPattern="/manhua-z.*/"></data>
                <data android:pathPattern="/manhua-la.*/"></data>
                <data android:pathPattern="/manhua-le.*/"></data>
                <data android:pathPattern="/manhua-lo.*/"></data>
                <data android:pathPattern="/manhua-lu.*/"></data>
                <data android:pathPattern="/manhua-lin.*/"></data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:host="www.comicbus.com"> </data>
                <data android:scheme="http"></data>
                <data android:pathPattern="/html/.*"></data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:host="m.comicbus.com"> </data>
                <data android:scheme="https"></data>
                <data android:pathPattern="/comic/.*"></data>
            </intent-filter>
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".GridViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
